<section class="section-block row" id="main-section">
  <div class="col-lg-12">

    <div class="card bg-dark">
      <div class="card-header text-white d-flex justify-content-between">
        <div><i class="far fa-list-alt"></i><strong> {{page_title}}</strong></div>
      </div>

      <div class="card-body bg-light">
        <table class="table table-striped" id="news-articles">
          <tbody>
            {{#isZero article_count}}
              <tr>
                <td colspan="2"><h6>Looks like we don't have any new articles loaded!</h6></td>
                <td><button class='btn btn-dark scrape' ><i class='fas fa-search'></i> Scrape Now?</button></td>
              </tr>
            {{/isZero}}

            {{#each articles}}
            {{> all-articles}}
            {{/each}}
          </tbody>
        </table>
      </div><!-- .card-body -->
    </div><!-- .card -->

  </div>
</section>