<section class="section-block row" id="main-section">
  <div class="col-lg-12">

    <div class="card bg-dark">
      <div class="card-header text-white d-flex justify-content-between">
        <div><i class="far fa-list-alt"></i><strong> {{page_title}}</strong></div>
      </div>

      <div class="card-body bg-light">
        <table class="table table-striped" id="news-articles">
          <tbody>
            {{#each articles}}
            {{> saved-articles}}
            {{/each}}
          </tbody>
        </table>
      </div><!-- .card-body -->
    </div><!-- .card -->

  </div>
</section>